* {
	margin:0;
	padding:0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}


.container {
	position:relative;
}


/* ----- Typography ----- */

@font-face {
  font-family: 'Gotham Rounded';
  font-weight: 600;
  src: url('../fonts/Gotham Rounded Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded';
  font-weight: 500;
  src: url('../fonts/Gotham Rounded Book.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded';
  font-weight: 400;
  src: url('../fonts/Gotham Rounded Light.otf') format('opentype');
}

.title-1 {
	font-size:4.2rem;
	font-weight: 600;
}

.title-2 {
	font-size:3.6rem;
	/*color:#4d79fd;*/
	font-weight: 600;
}

.title-3 {
	font-size:2.4rem;
	font-weight: 600;
	/*color:#909090;*/
}

.title-4 {
	font-size:2rem;
	font-weight: 600;
}

.large {
	font-size:1.8rem;
	color:#909090;
	font-weight:500;
	line-height: 1.5;
}

.regular {
	font-size:1.6rem;

}

.small {
	font-size:1.4rem;
}

.brand-blue {
	color:#4d79fd;
}

.grey {
	color:#909090;
}


li {
	text-indent: -3rem;
    padding-left: 3rem;
}
/* ----- Layout ----- */

html {
	/*font-family:'Circular Std', sans-serif;*/
	font-family:'Gotham Rounded', sans-serif;
	font-weight: 500;
	color:#5D5D5D;
	font-size:10px;

}

body {
	/*text-align: center;*/
	/*background-color: #F2F4F5;*/
}

section {

}

.text-center {
	text-align: center;
}

/*.container {
	width:90%;
	display: block;
	margin:0 auto;
}
*/
.space-1 {
	margin-top:1rem;
}

.space-2 {
	margin-top:2rem;
}

.space-3 {
	margin-top:3rem;
}

.space-4 {
	margin-top:4rem;
}

.space-5 {
	margin-top:5rem;
}

.clear {
	overflow: auto;
}

.pad-4 {
	padding-top:4rem;
}

/*.pad-5 {
	padding:5rem;
}*/


/* ----- Navigation ----- */

#logo {
	width:5rem;
	float:left;
}

a {
	text-decoration: none;
	cursor: pointer;
	color:#5D5D5D;
}

a:visited {
	color:#5D5D5D;
}

nav {
	padding-top:3rem;
}

.navlink {
	display:inline-block;
	font-size:1.8rem;
	margin-left:5rem;
	cursor: pointer;
	font-weight:600;
	text-indent: 0;
    padding-left: 0;
}

.navlink:hover {
	color:#4d79fd;
	transition: color .2s;
}

.navlink::after {
	margin-top:1rem;
	content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #4d79fd;
	opacity: 0;
}

.navlink:hover::after {

	-webkit-animation:deepline 0.2s ease-in forwards;
	animation:deepline 0.2s ease-in forwards;

}

@-webkit-keyframes deepline {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes deepline {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

/* --- Components --- */

/* Buttons */

button:focus {
	outline: none;
}

.button-1 {
	position: relative;
	padding:2.5rem;
	border-radius: 5px;
	border:none;
	background-color: #4d79fd;
	color:white;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	cursor: pointer;
	animation: goLight 0.2s ease-in forwards;
}

.button-1:after {
  content: "";
  position: absolute;
  display: block;
  width: 88%;
  height: 50%;
  left: 6%;
  bottom: 0px;
  box-shadow:0px 15px 30px rgba(77, 121, 253, 0.5);
  
}

.button-1:hover {
  animation: goDark 0.2s ease-in forwards;
}


@keyframes goLight {
	from {
		background-color: #2f62f9;
	}
	to {
		background-color: #4d79fd;
	}
}


@keyframes goDark {
	to {
		background-color: #2f62f9;
	}
}

.button-2 {
	position: relative;
	padding:2rem;
	width: 100%;
	border-radius: 5px;
	border:none;
	background-color:#6F93FE;
	color:white;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	cursor: pointer;
	animation: goLighttwo 0.2s ease-in forwards;
	text-align: center;
}


.icon {
	position: absolute;
    left: 2rem;
    width: 3rem;
    top: 2rem;
}


.button-2:hover {
  animation: goDarktwo 0.2s ease-in forwards;
}

/*
@keyframes goLighttwo {
	from {
		background-color: #abc0ff;
	}
	to {
		background-color: white;
	}
}*/


@keyframes goDarktwo {
	to {
		background-color: #abc0ff;
	}
}


/* Form Input */

input[type="text"] {
	border:none;
	color:white;
	/*border-bottom: 3px solid #d8d8d8;*/
	border-bottom: 2px solid #799afd;
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 400;
	font-size:2.4rem;
	padding:1.5rem;
}

input[type="text"]:focus {
	animation:fadeIn 0.2s ease-in forwards;
}

input {
	width:100%;
	background:none;
}

input:focus {
	outline: none;
}

::-webkit-input-placeholder {
    color:    #abc0ff;
}
:-moz-placeholder {
    color:     #abc0ff;
}
::-moz-placeholder {
    color:     #abc0ff;
}
:-ms-input-placeholder {
    color:     #abc0ff;
}

@keyframes fadeIn {
	0% {
	  border-bottom: 2px solid #799afd;
	}

	100% {
	  border-bottom: 2px solid white;
	}
}

/* ----- Home Header ----- */


.header {
	background-image: url('../images/bg.svg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow-x:hidden;
    overflow-y:hidden;

}

#circle{
	height:7rem;
	width:7rem;
	display:block;
	margin:5rem auto;
	cursor: pointer;
	border:3px solid #4d79fd;
	border-radius:100px;
	padding:2rem;
}

#arrow {
	position: relative;
  	left: -0.4rem;

	display:block;
	margin:0 auto;
	animation:bounce 1s ease-in infinite alternate;
}


@keyframes bounce {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(10px);
  }
}

/* ------- Work ------ */


.block {
	padding-right:2rem;
	padding-left:2rem;
	padding-bottom: 5rem;
	/*box-shadow:0px 10px 20px rgba(0, 0, 0, 0.1);*/
}

.preview {
	position: relative;
	margin: auto;
	width:100%;
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
	border-radius:5px;
	background-color: #F2F4F5;
	height:30rem;
	overflow: hidden;
}

.preview img {
	display: block;
	margin: auto;
	max-height: 100%;
	width:auto;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);

}


.topic {
	z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    opacity: 0; 
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    border: 2px solid #f2f4f5;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}

.topic .regular {
	color:#4d79fd;
	position: relative;
    font-weight: 600;
    top: 43%;
    text-align: center;
}

.topic .large {
	line-height: 2;
	color:black;
	position: relative;
	top: 45%;
	text-align: center;
}

.topic:hover {
	opacity: 1;
}

.description {
	padding:3rem 1rem 3rem 1rem;
}

.tag {
	font-weight:600;
	font-size: 1.4rem;
	padding:0.5rem 1.5rem 0.5rem 1.5rem;
	border-radius: 5rem;
	background-color: #F2F5F5;
	color:#909090;
	display: inline-block;
	margin-bottom: 1rem;
}


/* ---- Contact ---- */ 

.contact {
	
	background-color: #5C5C5C;
    position: relative;
    min-height: 35rem;
}

.contact h1 {
	color:white;
}

.form-box {
	background-color: #4d79fd;
    position: relative;
    top: -8rem;
    padding:5rem;
}

#header-text {
	padding-top: 10rem;
}

.case-study-img {
	width:100%;
	border:1px solid #f2f5f5;
}

.case-study-content {
	padding:5rem 5rem 5rem 5rem;
}

/* ---- Responsive ---- */

@media screen and (max-width: 667px) {
    .title-1 {
		font-size:3rem;
	}

	.title-2 {
		font-size:2.4rem;
	}

	.title-3 {
		font-size:1.8rem;
	}

	.title-4 {
		font-size:1.7rem;
	}

	.title-3-bold {
		font-size:1.8rem;
	}

	.large {
		font-size:1.6rem;
	}

	.button-1 {
		padding:1.5rem;
	}

	#circle {
		display:none;
	}

	.tag {
		font-size: 1.2rem;
	}

	.text-center {
		text-align: left;
	}

	#logo {
		width:4rem;
	}

	.navlink {
		display:inline-block;
		font-size:1.6rem;
		margin-left:3rem;
	}

	.header {
		background-size: 200%;
	}

	.preview {
		height:24rem;
	}

	.space-1 {
		margin-top:0.5rem;
	}

	.space-2 {
		margin-top:1rem;
	}

	.space-3 {
		margin-top:1.5rem;
	}

	.space-4 {
		margin-top:2rem;
	}

	.pad-4 {
		padding-top:2rem;
	}

	.case-study-content {
		padding:2.5rem 0rem 2.5rem 0rem;
	}

	.block {
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 3rem;

	}

	#header-text {
		padding-top:8rem;
	}

	.icon {
		position: absolute;
	    left: 2rem;
	    width: 2rem;
	    top: 2.4rem;
	}

}


